.bangs {
    background-color: #ECC7FF;
    height: 63px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.Mbangs {
    display: none;
    @media screen and (max-width: 821px) {
        display: contents;
        background-color: #ECC7FF;
        height: 63px;
        display: flex;
        position: absolute;
    }
}

h5 {
    font-size: 25px;
    font-family: 'SimSun-ExtB';
    margin-top: 18px;
    font-weight: lighter;
    margin-left: 42.5%;
    position: relative;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.Mbanner {
    display: none;
    @media screen and (max-width: 821px) {
        display: contents;
        font-size: 13px;
        height: 63px;
        width: 376px;
        position: relative;
        margin-left: 34%;
        margin-top: 6%;
        display: flex;
        font-weight: lighter;
        font-family: 'SimSun-ExtB';
        z-index: 1;
    }
}

body {
    height: 3249px;
    width: 99%;
    background-color: #FFF7F0;   
    @media screen and (max-width: 821px) {
        display: contents;
        background-color: #FFF7F0; 
        height: 1175px;
        width: 375px;
        display: flex;
        position: absolute;
    } 
}

.loupe {
    margin-top: 5.3%;
    margin-left: 61%;
    position: absolute;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.Search {
    margin-top: 4.5%;
    margin-left: 33.6%;
    border: 0.5px solid #B6B6B6;
    width: 531px;
    height: 44px;
    border-radius: 50px;
    font-size: 23px;
    font-family: 'Segoe UI';
    color: #B6B6B6;
    font-weight: regular;
    position: absolute;
    text-indent: 4.5%;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

/* #suggestion {
    margin-top: 4.96%;
    margin-left: 34.9%;
    font-size: 23px;
    font-family: 'Segoe UI';
    color: #B6B6B6;
    font-weight: regular;
    position: absolute;
    text-indent: 4.5%;
} */

.Search {
    outline: none;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

ol li {
    left: 67.2%;
    position: relative;
    margin-top: 5%;
    float: left;
    width: 110px;
    list-style-type: none;
    font-family: Segoe UI;
    font-size: 25px;
    font-weight: 500;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

ol li a {
    text-decoration: none;
    color: black;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.navicon {
    float: left;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.Mnavicon {
    display: none;
    @media screen and (max-width: 821px) {
        display: contents;
        float: left;
        display: flex;
    }
}

.wishlist {
    left: 89.7%;
    position: absolute;
    margin-top: 4.7%;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.Mwishlist {
    display: none;
    @media screen and (max-width: 821px) {
        display: contents;
        left: 75%;
        position: absolute;
        margin-top: 21.5%;
        display: flex;
    }
}

.paperbag {
    left: 93%;
    position: absolute;
    margin-top: 4.8%;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.Mpaperbag {
    display: none;
    @media screen and (max-width: 821px) {
        display: contents;
        left: 83.79%;
        position: absolute;
        margin-top: 21.5%;
        display: flex;
    }
}

.account {
    left: 96%;
    position: absolute;
    margin-top: 4.7%;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.Maccount {
    display: none;
    @media screen and (max-width: 821px) {
        display: contents;
        left: 92%;
        position: absolute;
        margin-top: 21.5%;
        display: flex;
    }
}

.logo {
    left: 6%;
    position: absolute;
    margin-top: 4.7%;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

p {
    font-size: 55px;
    font-family: 'Sofia';
    margin-top: 58px;
    font-weight: 'Regular';
    margin-left: 1.4%;
    position: absolute;
    -webkit-text-stroke: 0.5px #FEA5E4;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

#M-1 {
    Color: #FEF887;
}

#a {
    Color: #D5FBFE;
}

#r-1 {
    Color: #FEA5E4;
}

#d-1 {
    Color: #D7FFAA;
}

#i-1 {
    Color: #ECC7FF;
}

#M-2 {
    Color: #FFE2E2;
}

#e-1 {
    Color: #FEF887;
}

#r-2 {
    Color: #D5FBFE;
}

#c-1 {
    Color: #FEA5E4;
}

#r-3 {
    Color: #D7FFAA;
}

#e-2 {
    Color: #ECC7FF;
}

#d-2 {
    Color: #FFE2E2;
}

#i-2 {
    Color: #FEF887;
}

.flogo {
    left: 12.15%;
    position: absolute;
    margin-top: 4.75%;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.Mflogo {
    display: none;
    @media screen and (max-width: 821px) {
        display: contents;
        left: 15%;
        position: absolute;
        margin-top: 20.6%;
        display: flex;
    }
}

.Mhamb {
    display: none;
    @media screen and (max-width: 821px) {
        display: contents;
        margin-left: -8%;
        position: absolute;
        display: flex;
        margin-top: 20.5%;
    }
}

/* .Container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
} */

/* @media screen and (max-width:1200px) {
    .box {
        width: 40%;
    }
}

@media screen and (max-width:600px) {
    .box {
        width: 90%;
    }
} */

.cart {
    position: absolute;
    margin-top: 11.5%;
    margin-left: 7.7%;
    z-index: 1;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.checkoutinfo {
    position: absolute;
    margin-top: 13%;
    margin-left: 9.7%;
    z-index: 1;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.checkout {
    position: absolute;
    margin-top: 29%;
    margin-left: 72%;
    z-index: 1;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.Pay {
    position: absolute;
    width: 314px;
    height: 66px;
    font-size: 33px;
    font-family: Segoe UI;
    background-color: #2599F6;
    color: white;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    font-weight: 450;
    margin-top: 28.8%;
    margin-left: 51.25%;
    border: none;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.MContainer {
    display: none;
    @media screen and (max-width: 821px) {
        display: contents;
        display: flex;
        position: absolute;
        margin-top: 32.5%;
        margin-left: 9%;
        z-index: 111;
    }
}

.MContainer1 {
    display: none;
    @media screen and (max-width: 821px) {
        display: contents;
        display: flex;
        position: absolute;
        margin-top: 146.4%;
        margin-left: -1.5%;
        z-index: 111;
    }
}

.number {
    position: absolute;
    font-size: 25px;
    font-family: Segoe UI;
    font-weight: 450;
    margin-top: 4.8%;
    margin-left: 94.6%;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.MRectangle {
    display: none;
     @media screen and (max-width: 821px) {
         display: contents;
         position: absolute;
         display: flex;
         margin-left: -2.2%;
         margin-top: 140.5%;
         width: 392px;
         height: 282px;
         background-color: #D5FBFE;
     }
 }

.Mnumber {
    display: nones;
    @media screen and (max-width: 821px) {
        display: contents;
        display: flex;
        position: absolute;
        font-size: 15px;
        font-family: Segoe UI;
        font-weight: 450;
        margin-top: 22%;
        margin-left: 89.8%;
        z-index: 1;
    }
}

.country select{
    position: absolute;
    width: 380px;
    height: 46px;
    border: 1px solid #B6B6B6;
    font-family: Segoe UI;
    font-size: 33px;
    margin-top: 24%;
    margin-left: -10.8%;
    z-index: 1;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.name input{
    position: absolute;
    width: 380px;
    height: 46px;
    border: none;
    border-bottom: 0.5px solid black;
    font-size: 33px;
    font-family: Segoe UI;
    margin-top: 27.7%;
    margin-left: -10.8%;
    outline: none;
    background-color: transparent;
    z-index: 1;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.name1 input{
    position: absolute;
    width: 380px;
    height: 46px;
    border: none;
    border-bottom: 0.5px solid black;
    font-size: 33px;
    font-family: Segoe UI;
    margin-top: 27.7%;
    margin-left: 17.77%;
    outline: none;
    background-color: transparent;
    z-index: 1;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.address input{
    position: absolute;
    width: 891px;
    height: 46px;
    border: none;
    border-bottom: 0.5px solid black;
    font-size: 33px;
    font-family: Segoe UI;
    margin-top: 31.7%;
    margin-left: -10.8%;
    outline: none;
    background-color: transparent;
    z-index: 1;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.state select{
    position: absolute;
    width: 380px;
    height: 46px;
    border: 1px solid #B6B6B6;
    font-family: Segoe UI;
    font-size: 33px;
    margin-top: 39%;
    margin-left: -10.8%;
    z-index: 1;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.city input{
    position: absolute;
    width: 380px;
    height: 46px;
    border: 1px solid #B6B6B6;
    font-size: 33px;
    font-family: Segoe UI;
    margin-top: 46.1%;
    margin-left: -10.8%;
    z-index: 1;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.pc input{
    position: absolute;
    width: 380px;
    height: 46px;
    border: 1px solid #B6B6B6;
    font-size: 33px;
    font-family: Segoe UI;
    margin-top: 46.1%;
    margin-left: 17.77%;
    z-index: 1;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.form input{
    width: 894px;
    height: 46px;
    font-size: 33px;
    font-family: Segoe UI;
    border: 1px solid #B6B6B6;
    position: absolute;
    z-index: 1;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.card{
    position: absolute;
    margin-top: 87%;
    margin-left: 9.5%;
    @media screen and (max-width: 821px) {
        display: none;
    }
}


.name2{
    position: absolute;
    margin-top: 91.5%;
    margin-left: 9.5%;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.valid{
    position: absolute;
    margin-top: 96%;
    margin-left: 9.5%;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.cvc{
    position: absolute;
    margin-top: 100.5%;
    margin-left: 9.5%;
    @media screen and (max-width: 821px) {
        display: none;
    }
}









.Return {
    position: absolute;
    font-size: 25px;
    font-family: Segoe UI;
    font-weight: 450;
    margin-left: 4.5%;
    margin-top: 8.2%;
    color: black;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.Return1 {
    position: absolute;
    font-size: 25px;
    font-family: Segoe UI;
    font-weight: 450;
    margin-left: 11.7%;
    margin-top: 8.2%;
    color: black;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.Rectangle {
    position: absolute;
    margin-left: -1.31%;
    margin-top: 87.6%;
    width: 1804.5px;
    height: 1169px;
    background-color: #D5FBFE;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.Company {
    font-size: 49px;
    font-family: Bodoni Bd BT;
    font-weight: bold;
    color: #9B9B9B;
    margin-top: 157%;
    position: absolute;
    margin-left: 13%;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.Column1 {
    font-size: 31px;
    font-family: Bodoni Bd BT;
    font-weight: bold;
    color: #B6B6B6;
    margin-top: 160%;
    position: absolute;
    line-height: 2px;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.OurStory {
    margin-left: 255%;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.Address {
    margin-left: 265%;  
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.Membership {
    margin-left: 250%;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.QA {
    margin-left: 278%;  
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.Help {
    font-size: 49px;
    font-family: Bodoni Bd BT;
    font-weight: bold;
    color: #9B9B9B;
    margin-top: 157%;
    position: absolute;
    margin-left: 46%;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.Column2 {
    font-size: 31px;
    font-family: Bodoni Bd BT;
    font-weight: bold;
    color: #B6B6B6;
    margin-top: 160%;
    position: absolute;
    line-height: 2px;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.ContactUs {
    margin-left: 348%;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.Agreement {
    margin-left: 349%;  
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.Guide {
    margin-left: 358%;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.PrivacyPolicy {
    margin-left: 342%;  
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.ExchangeRefundGuide {
    margin-left: 324%;  
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.Footericon1 {
    margin-left: 53%;
    position: absolute;
    margin-top: 161.52%;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.Footericon2 {
    margin-left: 57.24%;
    position: absolute;
    margin-top: 161.5%;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.Footericon3 {
    margin-left: 61.5%;
    position: absolute;
    margin-top: 160.9%;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.Copyright {
    margin-left: 54.7%;
    position: absolute;
    margin-top: 167.55%;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.MM {
    margin-left: 76.6%;
    position: absolute;
    margin-top: 167%;
    font-size: 20px;
    font-family: Segoe UI;
    font-weight: 500;
    @media screen and (max-width: 821px) {
        display: none;
    }
}

.MUnder {
    display: none;
    @media screen and (max-width: 821px) {
        display: contents;
        z-index: 1;
        display: flex;
        position: absolute;
        margin-left: 36%;
        margin-top: 225%;
    }
}