.bangs {
    background-color: #FFE2E2;
    height: 63px;
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

h5 {
    font-size: 25px;
    font-family: 'SimSun-ExtB';
    margin-top: 18px;
    font-weight: lighter;
    display: flex;
    justify-content: space-evenly;
}