.bangs {
    background-color: #FFE2E2;
    height: 63px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

h5 {
    font-size: 25px;
    font-family: 'SimSun-ExtB';
    margin-top: 18px;
    font-weight: lighter;
    margin-left: 37.2%;
    position: relative;
}

body {
    height: 3249px;
    width: 99%;
    background-color: #FFF7F0;   
}

.loupe {
    margin-top: 5.3%;
    margin-left: 61%;
    position: absolute;
}

.Search {
    margin-top: 4.5%;
    margin-left: 33.6%;
    border: 0.5px solid #B6B6B6;
    width: 531px;
    height: 44px;
    border-radius: 50px;
    font-size: 23px;
    font-family: 'Segoe UI';
    color: #B6B6B6;
    font-weight: regular;
    position: absolute;
    text-indent: 4.5%;
}

.Search {
    outline: none;
}

ol li {
    left: 67.2%;
    position: relative;
    margin-top: 5%;
    float: left;
    width: 110px;
    list-style-type: none;
    font-family: Segoe UI;
    font-size: 25px;
    font-weight: 500;
}

ol li a {
    text-decoration: none;
    color: black;
}

.navicon {
    float: left;
}

.wishlist {
    left: 89.7%;
    position: absolute;
    margin-top: 4.7%;
}

.paperbag {
    left: 93%;
    position: absolute;
    margin-top: 4.8%;
}

.account {
    left: 96%;
    position: absolute;
    margin-top: 4.7%;
}

.logo {
    left: 6%;
    position: absolute;
    margin-top: 4.7%;
}

p {
    font-size: 55px;
    font-family: 'Sofia';
    margin-top: 58px;
    font-weight: 'Regular';
    margin-left: 1.4%;
    position: absolute;
    -webkit-text-stroke: 0.5px #FEA5E4;
}

#M-1 {
    Color: #FEF887;
}

#a {
    Color: #D5FBFE;
}

#r-1 {
    Color: #FEA5E4;
}

#d-1 {
    Color: #D7FFAA;
}

#i-1 {
    Color: #ECC7FF;
}

#M-2 {
    Color: #FFE2E2;
}

#e-1 {
    Color: #FEF887;
}

#r-2 {
    Color: #D5FBFE;
}

#c-1 {
    Color: #FEA5E4;
}

#r-3 {
    Color: #D7FFAA;
}

#e-2 {
    Color: #ECC7FF;
}

#d-2 {
    Color: #FFE2E2;
}

#i-2 {
    Color: #FEF887;
}