@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100;300&display=swap');

nav {             /* Gray */
    /* height:100px; */
    /* display:flex; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

nav > h1{         /* Red */
    width:160px;
    font-size: 60px;
    justify-self: left;
}

nav > img{        /* Cyan */
    width: 200px;
    justify-self: center;
}

nav > div{        /* Green */
    justify-self: right;
    display: flex;
    justify-content: space-around;
    width: 180px;
    height: 60px;
}

nav > div > img{  /* Blue */
    height: 60px;
    
}

.Group-1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 100px;
}

.Group-1 > .product-card {
  background-color:rgb(0,255,0,0.25); /* To help you visualize the size of the product-card*/
  width: 400px;
  padding: 20px;
  margin-bottom:20px;
  
}

.Group-1 > .product-card > img{
    width: 100%;
  
}

/* section3 */

.Group-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.Group-2 > .product-card {
  background-color:rgb(0,255,255,0.25); /* To help you visualize the size of the product-card*/
  padding: 20px;
  margin-bottom: 20px;
  justify-self: center;
  
}

.Group-2 > .product-card > img{
    width: 100%;
    max-width: 400px;
  
}









/*
 Reset and Font You don't need to change this.
*/

*{
    margin:0; /*  Removes the space around all elements*/
 
}
* { Box-sizing: Border-box } FTW

nav > h1{
  font-family: 'Anton', sans-serif;
  font-style: italic;
}

.breakImage {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/*
Background-color delete the next line to comment the colours
*/

nav {
  background-color:rgb(0,0,0,.25); 
}
nav > h1{
  background-color:rgb(255,0,0,0.25); 
}

nav > img{
  background-color:rgb(0,255,255,0.25);
}

nav > div{  
  background-color:rgb(0,255,0,0.25); 
}

nav > div > img{
  background-color:rgb(0,0,255,0.25);
}


/* section4 */
.product-card {
    padding: 20px;
    margin-bottom: 20px;
    justify-self: center;

}
.product-card > img {
    width: 100%;
    max-width: 400px;

}

.Group-3 {
    display: flex;
    flex-direction: row;
}

.Group-3 > .product-card {
    max-width: 400px;
}

.Group-3 > .fillImage{
    width: 0px;
    flex: 1 1 auto;
    object-fit: cover;
    margin: 20px 0 20px;
    max-height: 511px;
}


.Group-4 {
    background-color: #f6f6f6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "shoeImage description"
        "productInfo productInfo";
    padding-bottom: 20px;

}

.Group-4 > img{
    grid-area: shoeImage;
    justify-self: end;
    min-width: 200px;
    max-width: 600px;
    width: 100%;
}

.Group-4  > .product-info{
    grid-area: productInfo;
    justify-self: center;
}

.Group-4 > .description {
    grid-area: description;
    align-self: center;
    justify-self: start;
    max-width: 470px;
    margin: 0 20px 0 20px;
}


footer{
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
footer > img{
    height: 10%;

} 
    













/*
Do not worry about the next section, It is only to format the text. You will learn this in a future tutorial.
*/

h5, p{
  font-family: "Helvetica Neue";
  font-size:16px;
  padding:10px 0 10px 0;
  margin:0 0 0 0;
  font-weight:500;
}

h6{
  font-family: "Helvetica Neue";
  color: rgb(117,117,117);
  font-size:16px;
  font-weight:400;
  padding:0 0 10px 0;
  margin:0 0 0 0;
  vertical-align:baseline
}

h7{
  font-family: "Helvetica Neue";
  font-size:16px;
  font-weight:500;
  vertical-align:baseline
}


